<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset = "UTF-8" />
        <meta name = "author" content = "John Marcos dos Santos" />
        <meta name = "robots" content = "index, follow" />
        <link rel = "icon" href = "{% static 'imagens/icon_anjos_de_plantao.ico' %}"/>
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
				<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
				<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
				<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
				<title>{% block title %}Página Inicial{% endblock %}</title>
	</head>
	<body>
		<main>
			{% if user.is_authenticated %}
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand mr-0 p-2" href="/"><i class="material-icons align-text-bottom">home</i> Anjos de Plantão</a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    			<span class="navbar-toggler-icon"></span>
  			</button>
				<div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
					<ul class="navbar-nav mr-auto">
						<!-- CADASTRO -->
						<li class="nav-item dropdown active">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="material-icons align-bottom">add_circle_outline</i> Cadastro </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="../../../cadastrar_pessoa/"><i class="material-icons align-bottom">person_add</i> Pessoa </a>
			          <a class="dropdown-item" href="../../../cadastrar_evento/"><i class="material-icons align-bottom">event_note</i> Evento </a>
								<a class="dropdown-item" href="../../../cadastrar_produto/"><i class="material-icons align-bottom">local_grocery_store</i> Produto </a>
								{% if request.user.username == "lucrecia" or request.user.username == "admin" %}
								<a class="dropdown-item" href="../../../accounts/signup/"><i class="material-icons align-bottom">supervisor_account</i> Usuário </a>
								{% endif %}
							</div>
			      </li>
						<!-- DOAÇÕES -->
						<li class="nav-item dropdown active">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="material-icons align-bottom">favorite_border</i> Doações </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="../../../doacao_entrada/"><i class="material-icons align-bottom">call_received</i> Entrada </a>
			          <a class="dropdown-item" href="../../../doacao_saida/"><i class="material-icons align-bottom">call_made</i> Saída </a>
							</div>
						</li>
						<!-- FINANCEIRO -->
						<li class="nav-item dropdown active">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="material-icons align-bottom">monetization_on</i> Financeiro </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="../../../caixa_geral/"><i class="material-icons align-bottom">attach_money</i> Saldo </a>
							</div>
						</li>
						<!-- BUSCA -->
						<li class="nav-item active">
							<a class="nav-link" href="{% url 'busca' pk=1 %}"><i class="material-icons align-bottom">search</i> Consultas </a>
						</li>
						<!-- USUÁRIO -->
						<li class="nav-item dropdown active">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="material-icons align-bottom">account_circle</i> {{ user.username }} </a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="../../../accounts/password_change/"><i class="material-icons align-bottom">vpn_key</i> Alterar Senha </a>
							</div>
						</li>
						<!-- SAIR -->
						<li class="nav-item active">
							<a class="nav-link" href="../../../accounts/logout/"><i class="material-icons align-bottom">exit_to_app</i> Sair do Sistema </a>
						</li>
					</ul>
				</div>
			</nav>

			<div class="container col-auto m-4 p-4 bg-light">
				{% block formularios %}
				{% endblock %}
    	</div>

			{% else %}
			<div id="nao_logado">
				Você não está logado.<br>
				Faça o login para continuar.
				<br><br>
				<a href="{% url 'login' %}">Clique aqui para retornar para a página de login!</a>
			</div>
			{% endif %}

			<footer class="page-footer font-small">
			<div class="footer-copyright text-center text-light">
				Desenvolvido por John Marcos dos Santos
				<br>Suporte: (42) 98861-6560 (via WhatsApp)
				<br>São Mateus do Sul - Paraná - Brasil - 2019
  		</div>
		</footer>

		</main>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
</html>
