<!-- templates/signup.html -->
{% extends 'blog/base.html' %}
{% load widget_tweaks %}

{% block title %}Cadastrar Usuário{% endblock %}

{% block formularios %}

{% if messages %}
<div class="form-group">
  <ul class="messages p-0" role="alert">
      {% for message in messages %}
       <li{% if message.tags %} class="{{ message.tags }} p-0 m-0" {% endif %}>{{ message }}</li>
      {% if form.errors %}
        <li class="alert alert-warning p-0 m-0">{{ form.errors }}</li>
      {% endif %}
      {% endfor %}
  </ul>
</div>
{% endif %}

  <form method="post">
    <div class="form-group">
    {% csrf_token %}

    {% for field in form %}
      <p>
        <div class="mb-0">
        {{ field.label_tag }}<br>
        </div>

        {% if field.name == "username" %}
          {% render_field field class="col-md-3 form-control" placeholder="Nome de usuário" %}

        {% elif field.name == "password1" %}
          {% render_field field class="col-md-3 form-control" placeholder="Crie uma senha" %}

        {% elif field.name == "password2" %}
          {% render_field field class="col-md-3 form-control" placeholder="Repita a senha criada" %}
        {% endif %}

        {% if field.help_text %}
          <small id="ul_field_labels" class="text-dark">{{ field.help_text|safe }}</small>
        {% endif %}

        {% for error in field.errors %}
          <p class="text-danger p-0 m-0">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}

    </div>
    <div class="form-group row justify-content-between m-0">
  		<button type="reset" class="btn btn-outline-secondary col-auto">Limpar Dados</button>
  		<button type="submit" class="btn btn-outline-primary col-auto">Cadastrar</button>
  	</div>
  </form>
{% endblock %}
